.orders-container {
  padding: 21px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 49.5%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #eef8fd;
  box-sizing: border-box;
  border-radius: 2px;
}

.orders-text {
  font-size: 14px;
  line-height: 16px;
  margin: 0 !important;
  color: #262626;
}

.orders-line {
  display: flex;
  width: 100%;
}
